@import "tailwindcss";

@theme {
  /* Layout.tsx'te tanımladığımız değişkenleri Tailwind'e tanıtıyoruz */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  /* Arkaplanı kağıt beyazı, yazıları koyu antrasit yapıyoruz */
  --background: #ffffff;
  --foreground: #09090b; 
}

/* Dark mode ayarlarını sildik, böylece sistem ne olursa olsun siten 'Elit Beyaz' açılır */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  /* Kaydırma çubuğunu güzelleştirelim */
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 transparent;
}

/* Chrome/Safari için kaydırma çubuğu */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}